
.vs/ProtoSynth/DesignTimeBuild/.dtbcache
.vs/ProtoSynth/v15/.suo
.vs/ProtoSynth/v15/Server/sqlite3/db.lock
.vs/ProtoSynth/v15/Server/sqlite3/storage.ide
.vs/ProtoSynth/v15/Server/sqlite3/storage.ide-shm
.vs/ProtoSynth/v15/Server/sqlite3/storage.ide-wal
ProtoSynth/bin/Debug/app.publish/ProtoSynth.exe
ProtoSynth/bin/Debug/ProtoSynth.application
ProtoSynth/bin/Debug/ProtoSynth.exe
ProtoSynth/bin/Debug/ProtoSynth.exe.manifest
ProtoSynth/bin/Debug/ProtoSynth.pdb
ProtoSynth/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ProtoSynth/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProtoSynth/obj/Debug/ProtoSynth.application
ProtoSynth/obj/Debug/ProtoSynth.csproj.CopyComplete
ProtoSynth/obj/Debug/ProtoSynth.csproj.CoreCompileInputs.cache
ProtoSynth/obj/Debug/ProtoSynth.csproj.FileListAbsolute.txt
ProtoSynth/obj/Debug/ProtoSynth.csproj.GenerateResource.Cache
ProtoSynth/obj/Debug/ProtoSynth.csprojAssemblyReference.cache
ProtoSynth/obj/Debug/ProtoSynth.exe
ProtoSynth/obj/Debug/ProtoSynth.exe.manifest
ProtoSynth/obj/Debug/ProtoSynth.pdb
ProtoSynth/obj/Debug/ProtoSynth.csproj.FileListAbsolute.txt
ProtoSynth/obj/Debug/ProtoSynth.csproj.GenerateResource.Cache
ProtoSynth/obj/Debug/ProtoSynth.UserInterfaceForm.resources
ProtoSynth/bin/Debug/app.publish/ProtoSynth.exe
ProtoSynth/bin/Debug/ProtoSynth.exe
ProtoSynth/bin/Debug/ProtoSynth.application
ProtoSynth/bin/Debug/ProtoSynth.exe.manifest
ProtoSynth/bin/Debug/ProtoSynth.pdb
ProtoSynth/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ProtoSynth/obj/Debug/ProtoSynth.application
ProtoSynth/obj/Debug/ProtoSynth.csproj.GenerateResource.Cache
ProtoSynth/obj/Debug/ProtoSynth.exe
ProtoSynth/obj/Debug/ProtoSynth.exe.manifest
ProtoSynth/obj/Debug/ProtoSynth.pdb
